--
-- PostgreSQL database dump
--

-- Dumped from database version 16.4 (Debian 16.4-1.pgdg120+1)
-- Dumped by pg_dump version 16.4 (Debian 16.4-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: CategoryOfEventEntities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CategoryOfEventEntities" (
    "Id" uuid NOT NULL,
    "Title" text NOT NULL
);


ALTER TABLE public."CategoryOfEventEntities" OWNER TO postgres;

--
-- Name: EventEntities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."EventEntities" (
    "Id" uuid NOT NULL,
    "Title" text NOT NULL,
    "Description" text NOT NULL,
    "Date" timestamp with time zone NOT NULL,
    "LocationId" uuid NOT NULL,
    "CategoryId" uuid NOT NULL,
    "MaxNumberOfMembers" integer NOT NULL,
    "ImageUrl" text NOT NULL
);


ALTER TABLE public."EventEntities" OWNER TO postgres;

--
-- Name: LocationsOfEventEntities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."LocationsOfEventEntities" (
    "Id" uuid NOT NULL,
    "Title" text NOT NULL
);


ALTER TABLE public."LocationsOfEventEntities" OWNER TO postgres;

--
-- Name: MemberOfEventEntities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."MemberOfEventEntities" (
    "Id" uuid NOT NULL,
    "Name" text NOT NULL,
    "LastName" text NOT NULL,
    "Birthday" timestamp with time zone NOT NULL,
    "DateOfRegistration" timestamp with time zone NOT NULL,
    "Email" text NOT NULL,
    "UserId" uuid NOT NULL,
    "EventId" uuid NOT NULL
);


ALTER TABLE public."MemberOfEventEntities" OWNER TO postgres;

--
-- Name: RefreshTokenEntities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."RefreshTokenEntities" (
    "Id" uuid NOT NULL,
    "UserId" uuid NOT NULL,
    "Token" text NOT NULL,
    "Expires" timestamp with time zone NOT NULL
);


ALTER TABLE public."RefreshTokenEntities" OWNER TO postgres;

--
-- Name: UserEntities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."UserEntities" (
    "Id" uuid NOT NULL,
    "UserName" text NOT NULL,
    "UserEmail" text NOT NULL,
    "Password" text NOT NULL,
    "Role" text NOT NULL
);


ALTER TABLE public."UserEntities" OWNER TO postgres;

--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO postgres;

--
-- Data for Name: CategoryOfEventEntities; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."CategoryOfEventEntities" ("Id", "Title") FROM stdin;
3fa85f64-5717-4562-b3fc-2c963f66afa1	Concerts
3fa85f64-5717-4562-b3fc-2c963f66afa2	Festivals
3fa85f64-5717-4562-b3fc-2c963f66afa3	Sporting Events
3fa85f64-5717-4562-b3fc-2c963f66afa4	Webinars
3fa85f64-5717-4562-b3fc-2c963f66afa5	Workshops
3fa85f64-5717-4562-b3fc-2c963f66afa6	Theaters
3fa85f64-5717-4562-b3fc-2c963f66afa7	Exhibitions
3fa85f64-5717-4562-b3fc-2c963f66afa8	Movie Screenings
3fa85f64-5717-4562-b3fc-2c963f66afa9	Seminars
3fa85f64-5717-4562-b3fc-2c963f66afaa	Conferences
\.


--
-- Data for Name: EventEntities; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: LocationsOfEventEntities; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."LocationsOfEventEntities" ("Id", "Title") FROM stdin;
59ba0b28-701a-47c2-9db0-ea309df95f11	Minsk
59ba0b28-701a-47c2-9db0-ea309df95f12	New York
59ba0b28-701a-47c2-9db0-ea309df95f13	London
59ba0b28-701a-47c2-9db0-ea309df95f14	Tokyo
59ba0b28-701a-47c2-9db0-ea309df95f15	Berlin
59ba0b28-701a-47c2-9db0-ea309df95f16	Paris
59ba0b28-701a-47c2-9db0-ea309df95f17	Sydney
59ba0b28-701a-47c2-9db0-ea309df95f18	Moscow
59ba0b28-701a-47c2-9db0-ea309df95f19	Toronto
59ba0b28-701a-47c2-9db0-ea309df95f1a	Dubai
fed4fe7e-370a-48a9-a16f-51fe780f571b	Slonim
\.


--
-- Data for Name: MemberOfEventEntities; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."MemberOfEventEntities" ("Id", "Name", "LastName", "Birthday", "DateOfRegistration", "Email", "UserId", "EventId") FROM stdin;
\.


--
-- Data for Name: RefreshTokenEntities; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."RefreshTokenEntities" ("Id", "UserId", "Token", "Expires") FROM stdin;
7d74434b-0be9-448e-9c20-cdcfbc7b6499	b3f1af10-8b3c-4c78-8381-f4f4caf1b74f	Qe667g+8kxRTPP1774QCVhee/GrN0QzcvdmSrAiuAMRAkZzMZbOMNZB1bq9mqkXzEV8PumPeaZvZJaDehIJ0Tw==	2024-09-30 19:21:14.088956+00
\.


--
-- Data for Name: UserEntities; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."UserEntities" ("Id", "UserName", "UserEmail", "Password", "Role") FROM stdin;
b3f1af10-8b3c-4c78-8381-f4f4caf1b74f	admin	admin@gmail.com	$2a$11$mwc66uMZljdgUCeH07GYNexvMzBEDKYuiecXpN4nPG5tKXptlrXQO	Admin
\.


--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."__EFMigrationsHistory" ("MigrationId", "ProductVersion") FROM stdin;
20240923191514_init	8.0.8
\.


--
-- Name: CategoryOfEventEntities PK_CategoryOfEventEntities; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CategoryOfEventEntities"
    ADD CONSTRAINT "PK_CategoryOfEventEntities" PRIMARY KEY ("Id");


--
-- Name: EventEntities PK_EventEntities; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EventEntities"
    ADD CONSTRAINT "PK_EventEntities" PRIMARY KEY ("Id");


--
-- Name: LocationsOfEventEntities PK_LocationsOfEventEntities; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LocationsOfEventEntities"
    ADD CONSTRAINT "PK_LocationsOfEventEntities" PRIMARY KEY ("Id");


--
-- Name: MemberOfEventEntities PK_MemberOfEventEntities; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MemberOfEventEntities"
    ADD CONSTRAINT "PK_MemberOfEventEntities" PRIMARY KEY ("Id");


--
-- Name: RefreshTokenEntities PK_RefreshTokenEntities; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RefreshTokenEntities"
    ADD CONSTRAINT "PK_RefreshTokenEntities" PRIMARY KEY ("Id");


--
-- Name: UserEntities PK_UserEntities; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserEntities"
    ADD CONSTRAINT "PK_UserEntities" PRIMARY KEY ("Id");


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: IX_CategoryOfEventEntities_Title; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_CategoryOfEventEntities_Title" ON public."CategoryOfEventEntities" USING btree ("Title");


--
-- Name: IX_EventEntities_CategoryId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_EventEntities_CategoryId" ON public."EventEntities" USING btree ("CategoryId");


--
-- Name: IX_EventEntities_LocationId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_EventEntities_LocationId" ON public."EventEntities" USING btree ("LocationId");


--
-- Name: IX_MemberOfEventEntities_EventId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_MemberOfEventEntities_EventId" ON public."MemberOfEventEntities" USING btree ("EventId");


--
-- Name: IX_MemberOfEventEntities_UserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_MemberOfEventEntities_UserId" ON public."MemberOfEventEntities" USING btree ("UserId");


--
-- Name: IX_RefreshTokenEntities_UserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_RefreshTokenEntities_UserId" ON public."RefreshTokenEntities" USING btree ("UserId");


--
-- Name: IX_UserEntities_UserEmail; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_UserEntities_UserEmail" ON public."UserEntities" USING btree ("UserEmail");


--
-- Name: IX_UserEntities_UserName; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_UserEntities_UserName" ON public."UserEntities" USING btree ("UserName");


--
-- Name: EventEntities FK_EventEntities_CategoryOfEventEntities_CategoryId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EventEntities"
    ADD CONSTRAINT "FK_EventEntities_CategoryOfEventEntities_CategoryId" FOREIGN KEY ("CategoryId") REFERENCES public."CategoryOfEventEntities"("Id") ON DELETE RESTRICT;


--
-- Name: EventEntities FK_EventEntities_LocationsOfEventEntities_LocationId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EventEntities"
    ADD CONSTRAINT "FK_EventEntities_LocationsOfEventEntities_LocationId" FOREIGN KEY ("LocationId") REFERENCES public."LocationsOfEventEntities"("Id") ON DELETE RESTRICT;


--
-- Name: MemberOfEventEntities FK_MemberOfEventEntities_EventEntities_EventId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MemberOfEventEntities"
    ADD CONSTRAINT "FK_MemberOfEventEntities_EventEntities_EventId" FOREIGN KEY ("EventId") REFERENCES public."EventEntities"("Id") ON DELETE CASCADE;


--
-- Name: MemberOfEventEntities FK_MemberOfEventEntities_UserEntities_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MemberOfEventEntities"
    ADD CONSTRAINT "FK_MemberOfEventEntities_UserEntities_UserId" FOREIGN KEY ("UserId") REFERENCES public."UserEntities"("Id") ON DELETE CASCADE;


--
-- Name: RefreshTokenEntities FK_RefreshTokenEntities_UserEntities_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RefreshTokenEntities"
    ADD CONSTRAINT "FK_RefreshTokenEntities_UserEntities_UserId" FOREIGN KEY ("UserId") REFERENCES public."UserEntities"("Id") ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

